@import "../../utils/mixins";

.TitleDisplay {
  width: 100%;
  height: calc(100vh - #{20mm});
  background: linear-gradient(rebeccapurple, cornflowerblue);

  .td-container {
    width: fit-content;
    height: fit-content;
    @include vertical-align();
    margin: auto;
  }
}
