@import "colors";
@import "utils";

.NavigationBar {
  width: 100%;
  height: 20mm;
  background-color: $lightest_grey;

  .navigationElement {
    width: fit-content;
    height: 100%;
    float: right;

    button {
      margin: 0 3mm;
      @include vertical-align();
    }

    .NavigationButton {
      @extend button
    }
  }
}
