@import "colors";

$font_stack: Arial, sans-serif;

body {
  margin: 0;
}

text {
  font-family: $font_stack;
  font-size: 5mm;
  color: $darkest_grey;
  padding: 0;
  margin: 0;
}

p {
  @extend text;
}

h1 {
  @extend text;
  color: $darker_grey;
  font-size: 1cm;
}

h2 {
  @extend text;
  color: $dark_grey;
  font-size: 8mm;
}

h3 {
  @extend text;
  color: $dark_grey;
  font-size: 7mm;
}

h4 {
  @extend text;
  color: $dark_grey;
  font-size: 6.5mm;
}

h5 {
  @extend text;
  color: $dark_grey;
  font-size: 6mm;
}

h6 {
  @extend text;
  color: $dark_grey;
  font-size: 5.75mm;
}

input {
  @extend text;
  border: 1px solid $darker_grey;
  height: 7mm;
  font-size: 4.75mm;
  border-radius: 1px;
}

button {
  @extend text;
  background-color: $lightest_grey;
  padding: 3mm;
  border: none;
}

button:hover {
  background-color: $lighter_grey;
}
