@import "../../utils/colors";

.form {
  width: 40%;
  max-width: 10cm;
  min-width: 75mm;
  padding: 5mm;
  background-color: whitesmoke;

  .container {
    overflow: auto;
    .content {
      padding: 3mm 0;
      overflow: auto;

      input {
        box-sizing: border-box;
        width: 100%;
        display: inline-block;
      }

      button {
        margin-right: 3mm;
      }
    }

    .left {
      @extend .content;
      padding: 0;
      width: calc(50% - 2.5mm);
      float: left;
      input {
        width: 100%;
        box-sizing: border-box;
      }
    }

    .right {
      @extend .content;
      padding: 0;
      width: calc(50% - 2.5mm);
      float: right;
      input {
        width: 100%;
        box-sizing: border-box;
      }
    }

    .header {
      padding-bottom: 3mm;
    }

    .footer {
      padding-top: 3mm;
    }
  }
}
