@import "../../utils/colors";

.form {
  width: 40%;
  max-width: 10cm;
  min-width: 75mm;
  padding: 5mm;
  background-color: whitesmoke;

  .container {
    .content {
      padding: 3mm 0;

      input {
        box-sizing: border-box;
        width: 100%;
        display: inline-block;
      }

      button {
        margin-right: 3mm;
      }
    }

    .header {
      padding-bottom: 3mm;
    }

    .footer {
      padding-top: 3mm;
    }
  }
}
